<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"></div>
</body>
<script>
  // 定义响应函数
  let effective;
  const Vue = {
    createApp(config) {
      // 编译过程, 对视图模板进行解析并生成渲染函数
      const compile = (template) => (content, dom) => {
        // 重新渲染
        let input = dom.querySelector('input')
        if (!input) {
            input = document.createElement('input')
            input.setAttribute('value', observed.message)
            
            // 双向绑定
            // <input v-model="message"/>
            // 创建keyup事件监听输入项修改
            input.addEventListener('keyup', function () {
                observed.message = this.value
            })
            dom.appendChild(input)
        }

        // <button>{{message}}</button>
        // 将数据渲染到视图
        let button = dom.querySelector('button')
        if (!button) {
            console.log('create button')
            button = document.createElement('button')
            // <button @click='click'>{{message}}</button>
            // 绑定模型事件
            button.addEventListener('click', () => {
                return config.methods.click.apply(observed)
            })
            dom.appendChild(button)
        }
        button.innerText = observed.message
      };

      // 生成渲染函数
      const render = compile(config.template);

      return {
        mount: function (container) {
          const dom = document.querySelector(container);
          
          // 实现setup函数
          const setupResult = config.setup();
          
          // 数据响应更新视图
          effective = () => render(setupResult, dom);
          render(setupResult, dom);
        },
      };
    },
  };

  const App = {
    // 视图
    template: `
      <input v-model="message"/>
      <button @click='click'>{{message}}</button>
    `,
    setup() {
      // 数据劫持
      const state = new Proxy(
        {
          message: "Hello Vue 3!!",
        },
        {
          set(target, key, value, receiver) {
            const ret = Reflect.set(target, key, value, receiver);
            // 触发函数响应
            effective();
            return ret;
          },
        }
      );

      const click = () => {
        state.message = state.message.split("").reverse().join("");
      };
      return { state, click };
    },
  };
  const { createApp } = Vue;
  createApp(App).mount("#app");

</script>
</html>